:root {
    --primary-color: #D93B58;
    --primary-color-shade: #F28D9F;
    --secondary-color: #0568A6;
    --secondary-color-shade: #0378A6;
    --terciary-color: #D97762;
    --text-color: #353131;
}

body {
    padding: 2rem 2rem 2rem 2rem;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 2px none;
    border-radius: 10px;
    background-color: var(--primary-color)
}

section {
    background-color: var(--secondary-color);
    margin-top: 10px;
    padding: 10px;
    border: 2px none;
    border-radius: 10px;
}

article {
    background-color: var(--terciary-color);
    border: 2px none;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

article * {
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
}

article mark {
    margin: 10px;
    padding: 0px;
}

.website-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-title {
    font-size: 26px;
}

.navigation {
    width: 300px;
    align-self: center;
}

.navigation nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-button {
    font-weight: 900;
    text-decoration: none;
    color: var(--text-color);
    border: 1px none;
    border-radius: 10px;
    background-color: var(--primary-color-shade);
    padding: 10px;
}

h2 {
    font-size: 22px;
    font-weight: 800;
}

ul * {
    padding: 0px;
}

table {
    margin: 10px;
}

table, th, tr, td {
    border: 1px solid black;
}

table th {
    font-weight: bold;
    padding: 4px;
}

table tr td {
    padding: 2px;
}

.crossed-out {
    text-decoration: line-through;
}

.marked {
    background-color: yellow;
}

.underlined {
    text-decoration-line: underline;
}