@import url("reset.css");

.header-container {
    display: flex;
    height: 70px;
}

.logo-thing {
    padding: 10px;
    background-color: #5a5a5a;
    color: #fff;
}

.emoji-user {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    line-height: 50px;
    background-color: #5a5a5a;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    float: left;
}

.nav-links li a {
    padding: 14px 16px;
    color: white;
}

.nav-links li a.active {
    background-color: #3786e1;
}

section article {
    padding: 15px;
}

section article p, section article ul {
    margin: 10px 0 10px 0;
}

section article ul li {
    border-style: solid;
    border-left-width: 5px;
    border-left-color: #3786e1;
    margin-bottom: 5px;
}