header {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

body {
    margin: 10px 20px 10px 20px;
}

article h1, article h2 {
    font-family: "Oswald", sans-serif;
}

article p, article h2, article a, article table {
    font-family: "Roboto", sans-serif;
    font-size: 12;
}

th,td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

